* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.container__s {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
}
.header__slider {
  position: absolute;
  width: 1435px;
  height: 721px;
  margin: 0 auto;
}
.header__btn-menu {
  display: none;
  background: url(..img/burger.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  z-index: 20;
}
.header__wrapper {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.header__box {
  z-index: 10;
  width: 405px;
  margin: 0 auto;
}
.header__logo {
  height: 200px;
  margin-bottom: 57px;
}
.header__logo img {
  width: 405px;
  height: 175px;
  padding-right: 6px;
  filter: drop-shadow(4px 10px 6px black);
}

.hero {
  position: relative;
  z-index: 0;
  height: 721px;
}
.hero__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 58px;
  color: #fff;
  letter-spacing: 5px;
  filter: drop-shadow(4px 10px 6px black);
  margin-bottom: 90px;
}
.hero__btn {
  position: relative;
  width: 222px;
  height: 71px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.59);
  border: 2px solid white;
  padding-top: 22px;
  z-index: 100;
}
.hero__wrapper {
  margin-left: 34px;
}
.hero__link {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 4px;
}

.menu {
  position: relative;
  z-index: 10;
}
.menu-box {
  padding-left: 0;
}
.menu li {
  display: inline-block;
  padding-top: 10px;
}
.menu a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-align: left;
  text-decoration: none;
  color: white;
  margin-right: 20px;
  transition: 0.3s;
}
.menu a:hover {
  color: #000;
}

.socials a img {
  width: 24px;
  height: 24px;
  margin-top: 20px;
  margin-right: -14px;
}

.socials a img:hover {
  opacity: 0.5;
}

.header2 {
  height: 96px;
  background: #000;
}
.header2__phone {
  display: flex;
}
.header2__phone a {
  text-decoration: none;
}
.header2__phone-number {
  margin-top: 7px;
  margin-left: 9px;
  color: #DED500;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 1.1px;
}
.header2__top__wrapper {
  display: flex;
  justify-content: space-between;
}
.header2__top__left {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.header2__top__left img {
  width: 24px;
  height: 24px;
}
.header2__top__mid {
  margin-top: 21px;
}
.header2__top__mid img {
  width: 57px;
  height: 57px;
}
.header2__top__right {
  display: flex;
  margin-top: 40px;
}
.header2__top__right img {
  width: 24px;
  height: 24px;
  margin-right: 9px;
}
.header2__btn a {
  text-decoration: none;
  color: #DED500;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin-left: 31px;
}
.header2__btn a:hover {
  opacity: 0.5;
}

.about {
  height: 417px;
}
.about__wrapper {
  display: flex;
  justify-content: center;
}
.about__text {
  margin-top: 98px;
  margin-right: 50px;
}
.about__text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 6px;
  margin-bottom: 15px;
}
.about__text-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3.5px;
}
.about__slider {
  margin-top: 136px;
  width: 265%;
}
.about__range {
  width: 302px;
  margin: 0 auto;
  margin-top: 25px;
}

input[type=range] {
  width: 300px;
  height: 7px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 7px;
  border: none;
  background-color: #DCDCDC;
}

input[type=range]::-webkit-slider-thumb {
  background: #000;
  border: none;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 60px;
  height: 7px;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  border-radius: 10px/100%;
  height: 7px;
  border: none;
  background-color: #DCDCDC;
}

input[type=range]::-moz-range-thumb {
  background: #000;
  border: none;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 60px;
  height: 7px;
  -webkit-appearance: none;
}

#slide1 {
  width: 1435px;
  height: 721px;
  background: url(../img/mount.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0 auto;
}

#slide2 {
  width: 1435px;
  height: 721px;
  background: url(../img/cher.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0 auto;
}

#slide3 {
  width: 1435px;
  height: 721px;
  background: url(../img/night.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0 auto;
}

#slide4 {
  width: 1435px;
  height: 721px;
  background: url(../img/stalk.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  margin: 0 auto;
}

.slide {
  line-height: 136px;
  text-align: center;
  font-size: 60px;
  margin: 0 5px;
}

.slick-slide {
  width: 207px;
}

.slick-list {
  margin: 0 -5px;
}

#mps1 {
  background: url("../img/wheel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 207px;
  height: 136px;
  margin-right: 15px;
}

#mps2 {
  background: url("../img/sea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 207px;
  height: 136px;
  margin-right: 15px;
}

#mps3 {
  background: url("../img/sarco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 207px;
  height: 136px;
  margin-right: 15px;
}

#mps4 {
  background: url("../img/sea2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 207px;
  height: 136px;
  margin-right: 15px;
}

#mps5 {
  background: url("../img/pripyat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 207px;
  height: 136px;
  margin-right: 15px;
}

.footer {
  height: 186px;
  background: rgba(0, 0, 0, 0.8);
}
.footer__wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.footer__left img {
  width: 38px;
  height: 38px;
  margin-right: 15px;
}
.footer__phone {
  display: flex;
  color: #fff;
  margin-bottom: 23px;
}
.footer__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 1.4px;
}
.footer__mail {
  display: flex;
  color: #fff;
}
.footer__pay {
  display: flex;
  justify-content: space-around;
  margin-bottom: 23px;
}
.footer__pay-visa {
  background: url("../img/labels/white/visa.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 49px;
  height: 32px;
  margin-top: 8px;
}
.footer__pay-master {
  background: url("../img/labels/white/master.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 49px;
  height: 32px;
}
.footer__socials img {
  width: 38px;
  height: 38px;
  margin-right: 13px;
}/*# sourceMappingURL=style.css.map */