@charset "UTF-8";
* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.container__s {
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10px;
}

.shedule__btn,
.mob {
  position: absolute;
  right: 0;
  top: 84%;
  box-shadow: -14px -18px 19px 7px rgba(255, 255, 255, 0.43);
}
.shedule__btn a,
.mob a {
  text-decoration: none;
}
.shedule__btn a-inner,
.mob a-inner {
  background-color: #000;
  width: 272px;
  height: 73px;
  text-align: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 4.8px;
  padding-top: 23px;
}

.shedule__btn-inner {
  background-color: #000;
  width: 272px;
  height: 73px;
  text-align: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 4.8px;
  padding-top: 23px;
}

.fixed {
  position: fixed;
  right: 0;
  top: 84%;
  box-shadow: -14px -18px 19px 7px rgba(255, 255, 255, 0.43);
  z-index: 100;
  display: block;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }

  .container__s {
    max-width: 960px;
  }

  .shedule__btn {
    display: none;
  }

  .mob {
    position: relative;
    width: 188px;
    margin: 0 auto;
    margin-bottom: 40px;
    box-shadow: 0px 0px 20px 7px rgba(255, 255, 255, 0.33);
  }
  .mob a {
    text-align: center;
  }

  .mob-inner {
    margin: 0 auto;
    background-color: #000;
    width: 188px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 3.4px;
    padding-top: 17px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 737px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 479px) {
  .container {
    max-width: 435px;
  }
}
.header {
  width: 100%;
}
.header__btn-menu {
  display: none;
  background: url(..img/burger.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  z-index: 20;
}
.header__wrapper {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}
.header__box {
  z-index: 10;
  width: 405px;
  margin: 0 auto;
}
.header__logo {
  height: 200px;
  margin-bottom: 57px;
}
.header__logo img {
  width: 405px;
  height: 175px;
  padding-right: 6px;
  filter: drop-shadow(4px 10px 6px black);
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
}

.hero {
  position: absolute;
  top: 0;
  right: 34%;
  z-index: 0;
}
.hero__title {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 58px;
  color: #fff;
  letter-spacing: 5px;
  filter: drop-shadow(4px 10px 6px black);
  margin-bottom: 90px;
}
.hero__btn {
  position: relative;
  width: 222px;
  height: 71px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.59);
  border: 2px solid white;
  padding-top: 22px;
  z-index: 100;
}
.hero__wrapper {
  margin-left: 34px;
}
.hero__link {
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 4px;
}

.menu {
  position: relative;
  z-index: 10;
}
.menu-box {
  padding-left: 0;
}
.menu li {
  display: inline-block;
  padding-top: 10px;
}
.menu a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.1em;
  text-align: left;
  text-decoration: none;
  color: white;
  margin-right: 20px;
  transition: 0.3s;
}
.menu a:hover {
  color: #000;
}

.contact a {
  display: none;
}

.socials a img {
  width: 24px;
  height: 24px;
  margin-top: 20px;
  margin-right: -14px;
}

.socials a img:hover {
  opacity: 0.5;
}

.analog {
  background: url("../img/mount.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 798px;
  display: none;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.long-arr {
  background: url("../img/lar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 10px;
  height: 260px;
  display: none;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .analog {
    display: block;
  }

  .header__btn-menu {
    display: block;
    height: 22px;
    color: #fff;
    margin: 27px 0 0 34px;
    z-index: 100;
  }

  .nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .menu-box {
    width: 177px;
    height: 239px;
    justify-content: space-between;
  }
  .menu ul {
    margin: 0 auto;
    display: none;
    left: 0;
    z-index: 50;
    margin-left: 34px;
  }
  .menu li {
    display: block;
    text-align: center;
    padding-top: 0;
  }
  .menu a {
    display: block;
    background-color: rgba(0, 0, 0, 0.59);
    color: #fff;
    padding: 15px 0;
    text-align: center;
  }

  .contact {
    display: block;
  }

  .socials a {
    display: inline-block;
    background-color: transparent;
  }
  .socials a img {
    margin-right: 0;
    margin-top: 16px;
    width: 15px;
    height: 15px;
  }

  .hero {
    right: 0;
    left: 0;
  }
  .hero__title {
    text-align: center;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 3.5px;
  }
  .hero__btn {
    margin-bottom: 23px;
    box-shadow: 0px 4px 18px 0px #FFFFFF;
  }

  .header__box {
    width: 267px;
  }
  .header__logo {
    height: 124px;
    margin-top: 129px;
    margin-bottom: 34px;
    text-align: center;
  }
  .header__logo img {
    width: 245px;
    height: 105px;
    padding-right: 0;
  }

  .long-arr {
    display: block;
  }

  .dark {
    background-color: rgba(0, 0, 0, 0.59);
    width: 157px;
    padding-left: 5px;
  }
}
@media screen and (max-width: 376px) {
  .socials a {
    margin-right: 10px;
  }
}
.header2__hero {
  margin-top: 120px;
}
.header2__phone {
  display: flex;
}
.header2__phone a {
  text-decoration: none;
}
.header2__phone-number {
  margin-top: 7px;
  margin-left: 9px;
  color: #DED500;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 1.1px;
}
.header2__top {
  height: 96px;
  background: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header2__top__wrapper {
  display: flex;
  justify-content: space-between;
}
.header2__top__left {
  display: flex;
  justify-content: center;
  margin-top: 31px;
}
.header2__top__left img {
  width: 24px;
  height: 24px;
}
.header2__top__mid {
  margin-top: 12px;
  margin-left: -110px;
}
.header2__top__mid img {
  width: 57px;
  height: 57px;
}
.header2__top__right {
  display: flex;
  margin-top: 28px;
  position: relative;
  right: -9px;
}
.header2__top__right img {
  width: 24px;
  height: 24px;
  margin-right: 9px;
}
.header2__btn a {
  text-decoration: none;
  color: #DED500;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin-left: 31px;
}
.header2__btn a:hover {
  opacity: 0.5;
}

.burger {
  display: none;
}

.background2 {
  background: url("../img/ch5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 555px;
  display: none;
}

@media screen and (max-width: 992px) {
  .header2 {
    height: 77px;
    position: relative;
    margin-top: 0;
  }
  .header2__btn {
    display: none;
  }
  .header2__top {
    height: 77px;
  }
  .header2__top__left img {
    width: 14px;
    height: 14px;
    margin-left: 28px;
  }
  .header2__top__mid {
    margin-left: 0;
  }
  .header2__top__mid img {
    width: 48px;
    height: 48px;
  }
  .header2__top__right {
    width: 128px;
    right: auto;
  }
  .header2__top__right a {
    display: none;
  }
  .header2__phone-number {
    margin-top: 3px;
  }
  .header2__hero {
    margin-top: 0;
  }
  .header2__hero-desc {
    display: block;
  }

  .burger {
    display: block;
    width: 22px;
    height: 22px;
    color: #DED500;
    margin: 0 auto;
  }

  .background2 {
    display: block;
    background-position: right;
    text-align: center;
  }
  .background2 .title {
    font-size: 31px;
    line-height: 38px;
    letter-spacing: 3px;
    margin-top: 35px;
    margin-bottom: 278px;
  }
  .background2__text {
    margin: 0 auto;
    width: 360px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 1.8px;
  }
  .background2 .slider__btn {
    position: absolute;
    top: 605px;
    right: 0;
    left: 0;
  }
}
@media screen and (max-width: 479px) {
  .background2 {
    background-position-x: -450px;
  }

  .header2__top__left img {
    margin-left: 0;
  }

  .header2__top__mid img {
    margin-left: 30px;
  }

  .burger {
    margin-left: 100px;
  }
}
@media screen and (max-width: 376px) {
  .header2__top__mid img {
    margin-left: 0;
  }
  .header2__top__right {
    width: 85px;
  }

  .burger {
    margin-left: 55px;
  }

  .background2__text {
    width: 306px;
  }
}
.menu2 {
  position: fixed;
  overflow: hidden;
  background: #fff;
  padding: 12px 0 0 0;
  height: 43px;
  top: 0;
  margin-top: 96px;
  width: 100%;
  z-index: 100;
}
.menu2__wrp {
  padding-left: 125px;
}

.menu2 ul {
  text-align: justify;
  margin: 0;
  padding: 0;
}
.menu2 ul:before {
  content: "";
  display: block;
  width: 100%;
  height: 0;
}
.menu2 ul:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block;
}

.cross {
  display: none;
}

.menu2 li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu2 a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.menu2 a:hover {
  opacity: 0.5;
}

.wrp {
  width: 1170px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

@media screen and (max-width: 992px) {
  .menu2 {
    height: 350px;
    padding: 0;
    background-color: transparent;
    margin-top: 68px;
  }
  .menu2__wrp {
    width: 177px;
    position: absolute;
    right: 0;
    padding-left: 0;
  }
  .menu2 ul {
    display: none;
    z-index: 50;
    width: 177px;
    height: 555px;
    justify-content: space-between;
  }
  .menu2 li {
    display: block;
    text-align: center;
    padding-top: 0;
  }
  .menu2 a {
    display: block;
    background-color: black;
    color: #DED500;
    padding: 17px 0;
    text-align: center;
  }
  .menu2 a span {
    display: block;
    color: #DED500;
  }

  .cross {
    display: block;
    background-color: black;
    color: #DED500;
    text-align: right;
    width: 177px;
    height: 14px;
    padding-right: 11px;
    overflow: hidden;
    font-size: 19px;
  }
}
.about {
  height: 417px;
}
.about__wrapper {
  display: flex;
  justify-content: center;
}
.about__text {
  margin-top: 98px;
  margin-right: 50px;
}
.about__text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  letter-spacing: 6px;
  margin-bottom: 15px;
}
.about__text-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3.5px;
}
.about__slider {
  margin-top: 136px;
  width: 265%;
}
.about__range {
  width: 302px;
  margin: 0 auto;
  margin-top: 25px;
}

input[type=range] {
  width: 300px;
  height: 7px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 7px;
  border: none;
  background-color: #DCDCDC;
}

input[type=range]::-webkit-slider-thumb {
  background: #000;
  border: none;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 60px;
  height: 7px;
  -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
  border-radius: 10px/100%;
  height: 7px;
  border: none;
  background-color: #DCDCDC;
}

input[type=range]::-moz-range-thumb {
  background: #000;
  border: none;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 60px;
  height: 7px;
  -webkit-appearance: none;
}

@media screen and (max-width: 992px) {
  .about {
    height: 573px;
  }
  .about__wrapper {
    display: block;
  }
  .about__text {
    margin: 0 auto;
    max-width: 360px;
    margin-top: 33px;
    margin-bottom: 41px;
  }
  .about__text-title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
  }
  .about__text-descr {
    line-height: 24px;
    font-size: 16px;
  }
  .about__slider {
    max-width: 360px;
    margin: 0 auto;
    margin-top: 0;
  }
  .about__range {
    margin-top: 32px;
  }

  input[type=range] {
    width: 300px;
    height: 48px;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    border-radius: 10px/100%;
    height: 7px;
    border: none;
    background-color: #DCDCDC;
  }

  input[type=range]::-webkit-progress-value {
    background-color: #000;
    color: #000;
  }

  input[type=range]::-webkit-slider-thumb {
    position: relative;
    top: -16px;
    background: #000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 39px;
    height: 39px;
    box-shadow: 0px 1px 4px 2px #00000040;
    -webkit-appearance: none;
  }
}
@media screen and (max-width: 376px) {
  .about {
    height: 686px;
  }
  .about__text {
    max-width: 300px;
  }
  .about__slider {
    max-width: 237px;
  }
}
.tour {
  box-shadow: 0px 14px 20px -10px rgba(0, 0, 0, 0.5) inset;
  margin-top: -75px;
}
.tour__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 105px;
}
.tour__item-left {
  max-width: 562px;
}
.tour__item-left ul {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 2.4px;
  padding-left: 0;
  margin-top: 100px;
}
.tour__item-left li {
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1.4px;
  padding-left: 50px;
  margin-bottom: 5px;
}
.tour__item-left li:before {
  content: "⚫";
  margin-right: 10px;
}
.tour__bottom-items {
  width: 1062px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 63px;
}
.tour__bottom-item {
  width: 228px;
  text-align: center;
}
.tour__logo {
  text-align: center;
  margin-bottom: 15px;
}
.tour__logo img {
  width: 97px;
  height: 97px;
}
.tour__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3.6px;
}
.tour__descr {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1.6px;
}

.tour__item-right {
  margin-top: 105px;
  margin-right: 50px;
  max-height: 500px;
}

.tour__item-right::-webkit-scrollbar {
  width: 10px;
  height: 488px;
  border-radius: 10px;
  background-color: #d9d9d9;
}

.tour__item-right::-webkit-scrollbar-thumb {
  height: 20px;
  background-color: #000;
  border-radius: 10px;
}

#l1 {
  margin-top: 20px;
}

#a1 {
  background: url("../img/penthouse.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 228px;
  height: 157px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-right: 28px;
}

#a2 {
  background: url("../img/s4/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 228px;
  height: 157px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-right: 28px;
}

#a3 {
  background: url("../img/vehicle.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 228px;
  height: 157px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-right: 28px;
}

#a4 {
  background: url("../img/s4/7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 228px;
  height: 157px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-right: 28px;
}

#a5 {
  background: url("../img/facade.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 228px;
  height: 157px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-right: 28px;
}

#a6 {
  background: url("../img/bottles.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 228px;
  height: 157px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-right: 28px;
}

#a7 {
  background: url("../img/s4/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 228px;
  height: 157px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-right: 28px;
}

#a8 {
  background: url("../img/s4/13.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 228px;
  height: 157px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-right: 28px;
}

#a9 {
  background: url("../img/sarco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 228px;
  height: 157px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-right: 28px;
}

#a10 {
  background: url("../img/family.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 228px;
  height: 157px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-right: 28px;
}

#a11 {
  background: url("../img/s4/6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 228px;
  height: 157px;
  border-radius: 10px;
  margin-bottom: 12px;
  margin-right: 28px;
}

@media screen and (max-width: 992px) {
  .tour {
    margin-top: 0;
  }
  .tour__items {
    display: block;
    margin-bottom: 50px;
  }
  .tour__item {
    margin-bottom: 20px;
  }
  .tour__item-left ul {
    width: 335px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1.4px;
  }
  .tour__item-left li {
    text-align: left;
    padding-left: 0;
    font-size: 12px;
  }
  .tour__item-right {
    width: 320px;
    margin: 0 auto;
    margin-top: 50px;
    direction: rtl;
  }
  .tour__bottom-items {
    width: 360px;
    margin-bottom: 35px;
  }
  .tour__logo img {
    width: 30px;
    height: 30px;
  }
  .tour__title {
    font-size: 19px;
    letter-spacing: 1px;
  }
  .tour__descr {
    width: 100px;
    margin: 0 auto;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 30px;
  }

  #a1, #a2, #a3, #a4, #a5, #a6, #a7, #a8, #a9, #a10, #a11, #a12 {
    margin-right: 35px;
  }
}
@media screen and (max-width: 376px) {
  .tour ul {
    width: 276px;
  }
  .tour__item-right {
    width: 300px;
  }
  .tour__bottom-items {
    width: 285px;
  }
  .tour__title {
    font-size: 15px;
  }
}
.plan {
  height: 720px;
  background: url("../img/ch4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 720px;
}
.plan__title {
  font-family: "Montserrat", sans-serif;
  color: #DED500;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 2.4px;
  text-align: center;
  margin-top: 47px;
  margin-bottom: 40px;
}
.plan__items {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
  padding: 25px;
}
.plan__item {
  width: 254px;
  height: 402px;
  background-color: #c4c4c4;
  border-radius: 10px;
  text-align: center;
}
.plan__item-text {
  margin-top: 24px;
  margin-bottom: 29px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 1.6px;
}
.plan__item-img1 {
  background: url("../img/d1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 166px;
  height: 166px;
  margin: 0 auto;
  border: solid 4px #fff;
}
.plan__item-img2 {
  background: url("../img/d2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 166px;
  height: 166px;
  margin: 0 auto;
  border: solid 4px #fff;
}
.plan__item-img3 {
  background: url("../img/d3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 166px;
  height: 166px;
  margin: 0 auto;
  border: solid 4px #fff;
}
.plan__item-btn {
  width: 166px;
  height: 40px;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 63px;
  transition: 0.3s all;
}
.plan__item-btn a {
  text-decoration: none;
  width: 166px;
}
.plan__item-btn:hover {
  background-color: #EFEDB4;
  box-shadow: 0px 14px 4px -7px rgba(34, 60, 80, 0.2);
}
.plan__item-link {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.6px;
  color: #000;
}
.plan__link {
  margin-top: 29px;
  text-align: right;
  margin-right: 105px;
}
.plan__link a {
  text-decoration: none;
  color: #DED500;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 2.4px;
  transition: 0.3s all;
}
.plan__link a:hover {
  color: #fff;
}
.plan__item:hover {
  box-shadow: 0px 0px 25px 19px rgba(196, 196, 196, 0.53);
}

@media screen and (max-width: 992px) {
  .plan__items {
    display: block;
    width: 360px;
    padding: 0;
  }
  .plan__item {
    margin: 0 auto;
  }
  .plan__link {
    text-align: center;
    margin-right: 0;
    margin-top: 77px;
  }
}
@media screen and (max-width: 376px) {
  .plan__items {
    width: 280px;
  }
  .plan__item {
    width: 210px;
  }
}
.rules {
  background: url("../img/resquer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 1362px;
  background-position: right;
  z-index: 1;
}
.rules__title {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 34px;
  letter-spacing: 3.4px;
  margin-top: 90px;
  margin-bottom: 60px;
}
.rules__radiation {
  background: url("../img/labels/yellow/radiation.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 1000px;
  height: auto;
  margin: 0 auto;
}
.rules__items {
  display: flex;
  justify-content: space-between;
  padding: 0 65px;
}
.rules__item {
  display: flex;
  margin-bottom: 93px;
}
.rules__item-img1 {
  background: url("../img/labels/list.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 62px;
  height: 62px;
  margin-right: 27px;
}
.rules__item-img2 {
  background: url("../img/labels/18.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 62px;
  height: 62px;
  margin-right: 27px;
}
.rules__item-img3 {
  background: url("../img/labels/alc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 62px;
  height: 62px;
  margin-right: 27px;
}
.rules__item-img4 {
  background: url("../img/labels/med.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 62px;
  height: 62px;
  margin-right: 27px;
}
.rules__item-img5 {
  background: url("../img/labels/radia.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 62px;
  height: 62px;
  margin-right: 27px;
}
.rules__item-img6 {
  background: url("../img/labels/wear.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 62px;
  height: 62px;
  margin-right: 27px;
}
.rules__item-img7 {
  background: url("../img/labels/spek.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 62px;
  height: 62px;
  margin-right: 27px;
}
.rules__item-img8 {
  background: url("../img/labels/man.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 62px;
  height: 62px;
  margin-right: 27px;
}
.rules__item-text {
  width: 310px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 30px;
}
.rules__item-l {
  margin-bottom: 45px;
}

@media screen and (max-width: 992px) {
  .rules {
    background: url("../img/resquer2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 1362px;
    background-position-x: 80%;
    width: 100%;
    height: 2000px;
    overflow: hidden;
  }
  .rules__radiation {
    background: none;
    width: 360px;
    margin-bottom: 100px;
  }
  .rules__items {
    width: 360px;
    margin: 0 auto;
    display: block;
    padding: 0;
    margin-bottom: 100px;
  }
  .rules__title {
    font-size: 23px;
    letter-spacing: 3px;
  }
  .rules__item {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 48px;
    justify-content: space-between;
  }
  .rules__item-img1, .rules__item-img2, .rules__item-img3, .rules__item-img4, .rules__item-img5, .rules__item-img6, .rules__item-img7, .rules__item-img8 {
    width: 31px;
    height: 31px;
    margin-right: 23px;
  }
  .rules__item-text {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.4px;
    font-weight: 600;
  }
}
@media screen and (max-width: 376px) {
  .rules {
    height: 2156px;
  }
  .rules__radiation {
    width: 280px;
  }
  .rules__items {
    width: 300px;
  }
  .rules__item {
    width: 300px;
  }
  .rules__item-img1, .rules__item-img2, .rules__item-img3, .rules__item-img4, .rules__item-img5, .rules__item-img6, .rules__item-img7, .rules__item-img8 {
    height: 25px;
  }
}
.price {
  height: 900px;
}
.price__bg {
  background: url("../img/wheel2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 678px;
  height: 770px;
  position: absolute;
  right: 0;
  filter: drop-shadow(-5px -175px 179px black);
  z-index: 1;
}
.price__wrapper {
  margin-top: 70px;
  padding-left: 160px;
  z-index: 90;
}
.price__value {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.6px;
  margin-bottom: 126px;
}
.price__value strong {
  font-weight: 900;
  font-size: 24px;
}
.price__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 3.6px;
  margin-bottom: 43px;
}
.price__item {
  display: flex;
}
.price__img1 {
  background: url("../img/labels/chek.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 62px;
  height: 62px;
  margin-bottom: 37px;
}
.price__img2 {
  background: url("../img/labels/alarm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 62px;
  height: 62px;
}
.price__text {
  margin-left: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 27px;
}
.price__text b {
  font-weight: 900;
}
.price__logo {
  margin-left: 120px;
  margin-top: 120px;
  background: url("../img/blogo2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 340px;
  height: 53px;
  filter: drop-shadow(-5px 17px 10px black);
  margin-bottom: 15px;
}
.price__descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 1.6px;
}
.price__name {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 35px;
  letter-spacing: 3.6px;
  margin-left: 120px;
  filter: drop-shadow(0px 16px 10px black);
  padding-bottom: 30px;
}

@media screen and (max-width: 992px) {
  .price {
    height: 800px;
  }
  .price__bg {
    display: none;
  }
  .price__wrapper {
    width: 360px;
    margin: 0 auto;
    padding-left: 0;
    margin-top: 40px;
  }
  .price__value {
    text-align: center;
    margin-bottom: 64px;
  }
  .price__inner {
    margin-top: 50px;
  }
  .price__box {
    display: flex;
  }
  .price__box-right {
    background: url("../img/rw.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 151px;
    height: 151px;
    margin-left: 32px;
    margin-top: 10px;
  }
  .price__logo {
    width: 168px;
    height: 26px;
    margin-left: 0;
    margin-top: 90px;
    filter: drop-shadow(-5px 3px 3px black);
  }
  .price__name {
    font-size: 17px;
    margin-left: 0;
    filter: drop-shadow(0px 6px 3px black);
  }
}
@media screen and (max-width: 376px) {
  .price__wrapper {
    width: 300px;
  }
  .price__value {
    font-size: 11px;
  }
  .price__title {
    font-size: 29px;
  }
  .price__logo {
    width: 100px;
    height: 15px;
    margin-left: 18px;
    margin-top: 78px;
  }
  .price__box-right {
    width: 100px;
    height: 100px;
    margin-top: 50px;
  }
}
.gallery {
  height: 765px;
  overflow: hidden;
  background: url("../img/smoke.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 766px;
}
.gallery__container {
  width: 1235px;
  margin: 0 auto;
}
.gallery__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: normal;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 45px;
}

@media screen and (max-width: 992px) {
  .gallery {
    height: 350px;
  }
  .gallery__container {
    width: 960px;
  }
  .gallery__title {
    width: 200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .gallery__slider {
    overflow: hidden;
    width: 360px;
    margin: 0 auto;
  }

  #range2 {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .gallery__container {
    max-width: 476px;
    padding: 0 20px;
  }
}
@media screen and (max-width: 479px) {
  .gallery__container {
    max-width: 390px;
  }
}
@media screen and (max-width: 376px) {
  .gallery__container {
    max-width: 315px;
  }
}
.footer {
  height: 186px;
  background: rgba(0, 0, 0, 0.8);
}
.footer__wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.footer__left img {
  width: 38px;
  height: 38px;
  margin-right: 15px;
}
.footer__phone {
  display: flex;
  color: #fff;
  margin-bottom: 23px;
}
.footer__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 1.4px;
}
.footer__mail {
  display: flex;
  color: #fff;
}
.footer__pay {
  display: flex;
  justify-content: space-around;
  margin-bottom: 23px;
}
.footer__pay-visa {
  background: url("../img/labels/white/visa.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 49px;
  height: 32px;
  margin-top: 8px;
}
.footer__pay-master {
  background: url("../img/labels/white/master.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  width: 49px;
  height: 32px;
}
.footer__socials img {
  width: 38px;
  height: 38px;
  margin-right: 13px;
}

@media screen and (max-width: 992px) {
  .footer {
    height: 150px;
  }
  .footer__back {
    background: url("../img/mount.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 150px;
    background-position: bottom;
  }
  .footer__wrapper {
    width: 360px;
    margin: 0 auto;
    margin-top: 32px;
  }
  .footer__left {
    width: 244px;
  }
  .footer__left img {
    width: 37px;
    height: 25px;
    margin-right: 14px;
  }
  .footer__text {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
  }
  .footer__right {
    overflow: hidden;
  }
  .footer__pay {
    width: 60px;
    margin-bottom: -17px;
    position: relative;
    top: 50%;
  }
  .footer__pay-visa {
    width: 24px;
    height: 15px;
    margin-top: 3px;
  }
  .footer__pay-master {
    width: 24px;
    height: 15px;
  }
  .footer__socials {
    position: relative;
    top: 75%;
  }
  .footer__socials img {
    width: 19px;
    height: 19px;
    margin-right: 7px;
  }
}
@media screen and (max-width: 376px) {
  .footer {
    height: 204px;
  }
  .footer__back {
    height: 204px;
  }
  .footer__wrapper {
    display: block;
    width: 255px;
  }
  .footer__right {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .footer__pay {
    margin-bottom: 0;
  }
  .footer__text {
    font-size: 9px;
  }
}
.footer2 {
  background-color: #000;
  height: 250px;
  width: 100%;
}
.footer2__items {
  margin-top: 50px;
}
.footer2__item {
  display: flex;
  margin-top: 27px;
}
.footer2__logo1 {
  background: url("../img/labels/yellow/phone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 24px;
  height: 24px;
  margin-right: 30px;
  margin-top: 5px;
}
.footer2__logo2 {
  background: url("../img/labels/yellow/mail.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 24px;
  height: 24px;
  margin-right: 30px;
  margin-top: 5px;
}
.footer2__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 1.6px;
  color: #DED500;
}
.footer2__soc {
  display: none;
}

.el1 {
  display: flex;
}

@media screen and (max-width: 992px) {
  .footer2 {
    height: 265px;
  }
  .footer2__items {
    width: 360px;
    margin: 0 auto;
    margin-top: 45px;
  }
  .footer2__logo1, .footer2__logo2 {
    margin-right: 11px;
  }
  .footer2__soc {
    display: block;
    display: flex;
  }
  .footer2__soc img {
    width: 24px;
    height: 24px;
    margin-right: 11px;
  }
  .footer2__text {
    font-size: 9px;
    width: 240px;
    line-height: 19px;
  }
  .footer2__item2 {
    display: flex;
  }

  .el1 {
    display: flex;
  }
}
@media screen and (max-width: 376px) {
  .footer2__item2 {
    display: block;
  }

  .footer2__soc {
    margin-top: 27px;
  }
}
#calendar2 {
  width: 80%;
  height: 300px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  margin-top: 45px;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: #fff;
  line-height: 40px;
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  height: 40px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  margin-bottom: 19px;
}
#calendar2 tbody td {
  color: #fff;
}
#calendar2 tbody td:nth-child(n+5), #calendar2 #calendar2 .holiday {
  color: #DED500;
  cursor: pointer;
}
#calendar2 tbody td:nth-child(n+5):hover, #calendar2 #calendar2 .holiday:hover {
  color: #fff;
  background-color: rgba(222, 213, 0, 0.5);
}
#calendar2 tbody td.today {
  background: rgba(222, 213, 0, 0.38);
  color: #fff;
}

#lar,
#rar {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  top: 93%;
  left: 30%;
  font-size: 13px;
  background-color: #000;
}

.slider1 {
  width: 100%;
  height: 721px;
  position: relative;
  margin: 0 auto;
}

#slide1 {
  background: url("../img/mount.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 721px;
  background-position: center;
}

#slide2 {
  background: url("../img/cher.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 721px;
}

#slide3 {
  background: url("../img/night.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 721px;
  background-position: center;
}

#slide4 {
  background: url("../img/stalk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 721px;
}

.slider1 .slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 89%;
}

.slick-dots button {
  background: transparent;
  border: solid 2px #fff;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  margin: 15px;
  outline: none;
  overflow: hidden;
  font-size: 0;
}

.slick-dots button:hover {
  cursor: pointer;
}

.slick-dots li[class=slick-active] button {
  background: #fff;
}

@media screen and (max-width: 992px) {
  .slick-slider {
    display: none;
  }

  .slider1 {
    display: none !important;
  }
}
.slide {
  line-height: 136px;
  text-align: center;
  font-size: 60px;
  margin: 0 5px;
}

.slick-slide {
  width: 207px;
}

.slick-list {
  margin: 0 -5px;
}

#mps1 {
  background: url("../img/wheel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 207px;
  height: 136px;
  margin-right: 15px;
}

#mps2 {
  background: url("../img/sea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 207px;
  height: 136px;
  margin-right: 15px;
}

#mps3 {
  background: url("../img/sarco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 207px;
  height: 136px;
  margin-right: 15px;
}

#mps4 {
  background: url("../img/sea2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 207px;
  height: 136px;
  margin-right: 15px;
}

#mps5 {
  background: url("../img/pripyat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 207px;
  height: 136px;
  margin-right: 15px;
}

.slide3 {
  width: 1280px;
  height: 594px;
  position: relative;
  margin: 0 auto;
  box-shadow: 1px 17px 10px 10px rgba(0, 0, 0, 0.2);
}

.title {
  margin-top: 155px;
  margin-bottom: 205px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 42px;
  letter-spacing: 5px;
  color: #DED500;
}

.slider__box {
  text-align: center;
  margin: 0 auto;
}
.slider__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: 1.9px;
  color: #fff;
}
.slider__btn {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  position: relative;
  top: -36px;
}
.slider__bottom {
  width: 75px;
  height: 75px;
}

#s1 {
  background: url("../img/ch5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 594px;
  background-position: center;
}

#s2 {
  background: url("../img/ch1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 594px;
}

#s3 {
  background: url("../img/ch2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 594px;
  background-position: center;
}

#s4 {
  background: url("../img/ch3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 594px;
}

#s5 {
  background: url("../img/stalk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 594px;
}

.slick-prev {
  left: 0;
  background: url("../img/ar2.png") 0 0/100% no-repeat;
}

.slick-next {
  right: 0;
  background: url("../img/ar1.png") 0 0/100% no-repeat;
}

.slick-arrow {
  position: absolute;
  top: 40%;
  margin: -15px 0 0 0;
  z-index: 2;
  font-size: 0;
  width: 48px;
  height: 104px;
  border: none;
}

.slick-dots {
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  right: 0;
  left: -40px;
  top: 77%;
}

.slick-dots button {
  background: transparent;
  border: solid 2px #fff;
  border-radius: 50%;
  height: 17px;
  width: 17px;
  margin: 15px;
  outline: none;
  overflow: hidden;
  font-size: 0;
}

.slick-dots button:hover {
  cursor: pointer;
}

.slick-dots li[class=slick-active] button {
  background: #fff;
}

.arr {
  background: url("../img/ar3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .slider3 {
    display: none;
  }

  .slick-slider {
    display: none;
  }
}
.slide2 {
  line-height: 136px;
  text-align: center;
  font-size: 60px;
  margin: 0 5px;
}

.slick-slide {
  width: 631px;
}

.slick-list {
  margin: 0 -5px;
}

#sb1 {
  background: url("../img/s4/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb2 {
  background: url("../img/d1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb3 {
  background: url("../img/s4/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb4 {
  background: url("../img/s4/4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb5 {
  background: url("../img/s4/5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb6 {
  background: url("../img/s4/6.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb7 {
  background: url("../img/s4/7.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb8 {
  background: url("../img/s4/8.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb9 {
  background: url("../img/s4/9.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb10 {
  background: url("../img/s4/10.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb11 {
  background: url("../img/s4/11.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb12 {
  background: url("../img/s4/12.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb13 {
  background: url("../img/s4/13.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb14 {
  background: url("../img/s4/14.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb15 {
  background: url("../img/s4/15.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb16 {
  background: url("../img/s4/16.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb17 {
  background: url("../img/s4/17.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb18 {
  background: url("../img/s4/18.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb19 {
  background: url("../img/pripyat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb21 {
  background: url("../img/sarco.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

#sb22 {
  background: url("../img/stalk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 370px;
  border-radius: 20px;
  margin-right: 25px;
}

.slider__range {
  margin-top: 85px;
  width: 490px;
  margin-bottom: 100px;
}
.slider__range input[type=range] {
  width: 488px;
  height: 15px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: solid 2px #000;
  border-radius: 10px;
}
.slider__range input[type=range]::-webkit-slider-runnable-track {
  border-radius: 10px/100%;
  height: 15px;
  border: none;
  background-color: transparent;
}
.slider__range input[type=range]::-webkit-slider-thumb {
  background: #000;
  border: none;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 57px;
  height: 15px;
  -webkit-appearance: none;
}
.slider__range input[type=range]::-moz-range-track {
  border-radius: 10px/100%;
  height: 15px;
  border: none;
  background-color: transparent;
}
.slider__range input[type=range]::-moz-range-thumb {
  background: #000;
  border: none;
  border-radius: 10px/100%;
  cursor: pointer;
  width: 57px;
  height: 15px;
  -webkit-appearance: none;
}

@media screen and (max-width: 992px) {
  #sb1, #sb2, #sb3, #sb4, #sb5, #sb6, #sb7, #sb8, #sb9, #sb10, #sb11, #sb12, #sb13, #sb14, #sb15, #sb16, #sb17, #sb18, #sb19, #sb21, #sb22 {
    width: 306px;
    height: 182px;
  }
}
@media screen and (max-width: 376px) {
  #sb1, #sb2, #sb3, #sb4, #sb5, #sb6, #sb7, #sb8, #sb9, #sb10, #sb11, #sb12, #sb13, #sb14, #sb15, #sb16, #sb17, #sb18, #sb19, #sb21, #sb22 {
    width: 253px;
    height: 179px;
  }
}
.slider5 {
  width: 360px;
  height: 402px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.slider5 .slider__item {
  width: 350px;
}

.slider5 .slick-prev {
  left: 0;
  background: url("../img/ral.png") 0 0/100% no-repeat;
  width: 37px;
  height: 37px;
}

.slider5 .slick-next {
  right: 0;
  background: url("../img/rar.png") 0 0/100% no-repeat;
  width: 37px;
  height: 37px;
}

@media screen and (max-width: 376px) {
  .slider5 {
    width: 278px;
  }

  .slider5 .slider__item {
    width: 280px;
  }

  .slider5 .slick-prev {
    width: 27px;
    height: 27px;
  }

  .slider5 .slick-next {
    width: 27px;
    height: 27px;
  }
}
#modal-shedule,
#modal-plan1,
#modal-plan2,
#modal-plan3,
#modal-link {
  display: none;
}

#modal-shedule {
  width: 375px;
  height: 375px;
  border: solid 5px #fff;
  padding: 0;
  margin-top: 133px;
  background: url("../img/ch6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 375px;
  height: 375px;
  position: fixed;
  right: 0;
  cursor: default;
}
#modal-shedule .fancybox-button {
  left: 0;
}
#modal-shedule .fancybox-button svg {
  color: #fff;
}

#modal-plan1,
#modal-plan2,
#modal-plan3,
#modal-link {
  width: 822px;
  margin-top: 179px;
  padding: 80px;
}
#modal-plan1 span,
#modal-plan2 span,
#modal-plan3 span,
#modal-link span {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  letter-spacing: 1.8px;
  margin-bottom: 20px;
}
#modal-plan1 p,
#modal-plan2 p,
#modal-plan3 p,
#modal-link p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 30px;
  margin: 20px 0;
}

@media screen and (max-width: 992px) {
  #modal-shedule {
    margin: 0 auto;
    margin-top: 100px;
    right: 0;
    left: 0;
  }

  #modal-plan1,
#modal-plan2,
#modal-plan3,
#modal-link {
    width: 360px;
    margin-top: 10px;
    padding: 30px;
    background: url("../img/resquer.jpg");
    background-size: 320%;
    background-repeat: repeat-y;
    background-position-x: -611px;
  }
  #modal-plan1 p,
#modal-plan2 p,
#modal-plan3 p,
#modal-link p {
    font-size: 13px;
    letter-spacing: 1.1px;
    font-weight: 500;
  }
}/*# sourceMappingURL=style.css.map */