@import 'vars/_fonts'
@import 'vars/_mixins'
#modal-shedule,
#modal-plan1,
#modal-plan2,
#modal-plan3,
#modal-link,
#modal-pol
    display: none
#modal-shedule
    width: 375px
    height: 375px
    border: solid 5px #fff
    padding: 0
    margin-top: 133px
    @include img('../img/ch6.jpg', 375px, 375px, cover)
    position: fixed
    right: 0
    cursor: default
    .fancybox-button
        left: 0
        svg
            color: #fff
#modal-plan1,
#modal-plan2,
#modal-plan3,
#modal-link
    width: 822px
    margin-top: 179px
    padding: 80px
    span
        font-size: 18px
        font-family: $montserrat
        font-weight: 900
        letter-spacing: 1.8px
        margin-bottom: 20px
    p
        font-size: 16px
        font-family: $montserrat
        font-weight: 400
        letter-spacing: 1.6px
        line-height: 30px
        margin: 20px 0
@media screen and ( max-width:992px  )
    #modal-shedule
        margin: 0 auto
        margin-top: 100px
        right: 0
        left: 0
    #modal-plan1,
    #modal-plan2,
    #modal-plan3,
    #modal-link
        width: 360px
        margin-top: 10px
        padding: 30px
        background: url('../img/resquer.jpg')
        background-size: 320%
        background-repeat: repeat-y
        background-position-x: -611px
        p
          font-size: 13px
          letter-spacing: 1.1px 
          font-weight: 500 
        

