@import '../vars/_fonts'
@import '../vars/_mixins'
.slider5
    width: 360px
    height: 402px
    position: relative
    margin: 0 auto
    overflow: hidden
.slider5 .slider__item
    width: 350px
.slider5 .slick-prev
    left: 0 // левая стрелка остается с левой стороны слайдера
    background: url('../img/ral.png') 0 0 / 100% no-repeat
    width: 37px
    height: 37px
.slider5 .slick-next
    right: 0 // правая стрелка переместилась справа от слайдера
    background: url('../img/rar.png') 0 0 / 100% no-repeat
    width: 37px
    height: 37px
@media screen and (max-width: 376px)
    .slider5
        width: 278px
    .slider5 .slider__item
        width: 280px
    .slider5 .slick-prev
        width: 27px
        height: 27px
    .slider5 .slick-next
        width: 27px
        height: 27px    

