@import '../vars/_mixins'
.slide
    line-height: 136px
    text-align: center
    font-size: 60px
    margin: 0 5px
.slick-slide
    width: 631px
.slick-list
    margin: 0 -5px

#mps1
    @include img('../img/wheel.jpg', 207px, 136px, cover)
    margin-right: 15px
#mps2
    @include img('../img/sea.jpg', 207px, 136px, cover)
    margin-right: 15px
#mps3
    @include img('../img/sarco.jpg', 207px, 136px, cover)
    margin-right: 15px
#mps4
    @include img('../img/sea2.jpg', 207px, 136px, cover)
    margin-right: 15px
#mps5
    @include img('../img/pripyat.jpg', 207px, 136px, cover)   
    margin-right: 15px             