@mixin img($url, $width, $height, $size)  
    background: url($url)
    background-repeat: no-repeat
    background-size: $size
    background-position: top
    width: $width
    height: $height      
