@import '../vars/_fonts'
.about
    height: 417px
    &__wrapper
        display: flex
        justify-content: center
    &__text
        margin-top: 98px
        margin-right: 50px
        &-title
            font-family: $montserrat
            font-weight: 700
            font-size: 35px
            line-height: 43px
            letter-spacing: 6px
            margin-bottom: 15px
        &-descr
            font-family: $montserrat
            font-weight: 500
            font-size: 18px
            line-height: 22px
            letter-spacing: 3.5px

    &__slider
        margin-top: 136px
        width: 265%
