@import '../vars/_mixins'
@import '../vars/_fonts'
.footer
    height: 186px
    background: rgba(0, 0, 0, 0.8)
    &__wrapper
        margin-top: 50px
        display: flex
        justify-content: space-between
    &__left img
        width: 38px
        height: 38px
        margin-right: 15px
    &__phone
        display: flex
        color: #fff
        margin-bottom: 23px
    &__text
        font-family: $montserrat
        font-weight: 700
        font-size: 14px
        line-height: 35px
        letter-spacing: 1.4px
    &__mail
        display: flex
        color: #fff
    &__pay
        display: flex
        justify-content: space-around
        margin-bottom: 23px
        &-visa
            @include img('../img/labels/white/visa.png', 49px, 32px, contain)
            margin-top: 8px
        &-master
            @include img('../img/labels/white/master.png', 49px, 32px, contain)
    &__socials img
        width: 38px
        height: 38px
        margin-right: 13px
