@import '../vars/_fonts'
.header
    width: 100%
    &__slider
        width: 1281px
        height: 721px
        background: url(../img/mount.jpg)
        background-repeat: no-repeat
        background-size: cover
        background-position: bottom
        margin: 0 auto
    &__btn-menu
        display: none
        background: url(..img/burger.png)
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        width: 20px
        height: 20px
        z-index: 20
    &__wrapper
        margin: 0 auto
        padding-left: 10px
        padding-right: 10px
        display: flex
        justify-content: space-between
    &__box
        z-index: 10
        width: 405px
        margin: 0 auto
    &__logo
        height: 200px
        margin-bottom: 57px
    &__logo img
        width: 405px
        height: 175px
        padding-right: 6px
        -webkit-filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 1))
        filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 1))
.hero
    &__title
        font-family: $jojo
        font-weight: 400
        font-size: 58px
        color: #fff
        letter-spacing: 5px
        -webkit-filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 1))
        filter: drop-shadow(4px 10px 6px rgba(0, 0, 0, 1))
        margin-bottom: 90px
    &__btn
        width: 222px
        height: 71px
        margin: 0 auto
        background-color: rgba(0, 0, 0, 0.59)
        border: 2px solid rgba(255, 255, 255, 1)
        padding-top: 22px
    &__wrapper
        margin-left: 34px    
    &__link
        color: #fff
        text-decoration: none
        font-family: $montserrat
        font-size: 18px
        font-weight: 900
        line-height: 22px
        letter-spacing: 4px
.menu
    position: relative
    z-index: 10
    &-box
        padding-left: 0
    li
        display: inline-block
        padding-top: 10px
    a
        font-family: $jojo
        font-size: 14px
        font-style: normal
        font-weight: 700
        line-height: 14px
        letter-spacing: 0.1em
        text-align: left
        text-decoration: none
        color: white
        margin-right: 20px
        transition: .3s
    a:hover
        color: #000
.socials a img
    width: 24px
    height: 24px
    margin-top: 20px
    margin-right: -14px
.socials a img:hover
    opacity: 0.5
